<!-- <ng-content></ng-content> -->
<div class="row">
  <div class="col s-12" style="margin: '0 auto'; padding: '0'; height: '10vh'; width: '100vw'; background: '#455A66'; border-style: 'double';">
    <div class="container">Header</div>
  </div>
</div>
<div class="row">
  <div class="col s8" style="margin: '0 auto'; padding: '0'; min-height: '90vh'; background: '#FDDDEF'; border-style: 'double';">
    <layout-component></layout-component>
    <!-- <form-component></form-component> -->
    <!-- [placeholderText]="placeholderText" [width]="width" [height]="height" [borderStyle]="borderStyle" -->
    <!-- </form-component> -->
  </div>
  <div class="col s4" style="margin: '0'; padding: '0';">
    <div class="row" style="min-height: '90vh'; background: '#DDEFFD'; border-style: 'double'">
      <styles-component></styles-component>
    </div>
    <!-- <div class="row" style="height: '45vh'; background: '#F7FDDD'">
      <elements-component></elements-component>
    </div> -->
  </div>
